UserLogin { 
    org.apache.openejb.core.security.jaas.SQLLoginModule required 
    dataSourceName="ShopDataSource" 
    userSelect="SELECT email, hashed_password FROM accounts WHERE email = ?" 
    groupSelect="SELECT a.email, g.group_name FROM account_groups g JOIN accounts a ON g.account_id = a.id WHERE a.email = ?";
};